/* General style for elements */

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0px;
    height: 100%;
    color: #464547;
    font-family: 'source-sans-pro-regular',sans-serif,helvetica,arial;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    height: 50px;
    background-color: #464547;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: 64px;
    height: 48px;
    background-color: #A3C644;
}

/* Header style */

header {
    position: relative;
}

header .logo {
    padding: 0 10px;
    font-size: 1.25rem;
    line-height: 5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

header .logo img {
    margin-top: 5px;
    height: 25px;
}

header .logo span {
    display: none;
}

header .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}

header .menu .menu-item a {
    padding: 0px 20px;
    color: #ffffff;
}

header .menu .menu-item.active a,
header .menu .menu-item:hover a {
    color: #39C2D7;
    text-decoration: none;
}

.menu-item.cart:hover .cart-box {
    display: block;
}

.menu-item {
    font-size: 14px;
}

.menu-item > a {
    font-weight: 600;
    line-height: 50px;
}

.menu-item > a > i {
    margin-right: 8px;
}

.menu-item > a > span {
    display: none;
}

.cart-box {
    width: 100%;
    position: absolute;
    z-index: 200;
    left: 0;
    top: 50px;
    right: 0px;
    display: none;
    background-color: #464547;
}

.cart-box ul {
    padding: 0;
    margin: 0 2px;
}

.cart-box ul li a {
    height: 75px;
    display: flex;
    align-items: center;
    margin: 5px 0px;
    padding: 2px 8px !important;
}

.cart-box ul li img {
    height: 100%;
    margin-right: 8px;
}

.menu-item.profile {
    position: relative;
}

.menu-item.profile:hover .profile-box {
    display: block;
}

.profile-box {
    width: 250px;
    position: absolute;
    z-index: 200;
    top: 30px;
    right: 0px;
    display: none;

    background-color: #464547;
    padding: 10px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

/* Footer style */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.copyright {
    color: #ffffff;
}

@media screen and (min-width: 601px) {
    header .logo span {
        display: inline-block;
    }

    .menu-item.cart {
        position: relative;
    }

    .menu-item > a > span {
        display: inline-block;
    }

    .cart-box {
        width: 300px;
        top: 30px;
        left: auto;
    }
}