* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #acacac;
}

header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #39c2d7;
    padding: 8px 56px;
    background-color:#464547;
}

header h1.title {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

header .name,
header .email {
    text-align: right;
    color:white;
}

#user {
    display: flex;
    align-items: center;
}

#user .avatar {
    background-color:#39c2d7;
    border-radius: 50%;
    color: white;
    height: 32px;
    width: 32px;
    text-align: center;
    padding-top: 8px;
    font-size: 14px;
    margin-left: 16px;
}

main {
    max-width: 600px;
    padding: 8px;
    margin: 0 auto;
    min-height: calc(100vh - 56px);
}

footer {
    padding: 8px;
    background-color: #464547;
    color: white;
    text-align: center;
}

.post {
    max-width: 600px;
    margin: 16px auto;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: white;
}

.comment .name,
.post .title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.title {
    color:white;
}

.post .comments {
    margin-top: 16px;
    padding-left: 8px;
    font-size: 12px;
    
}

.comment {
    padding: 8px;
    margin: 16px 0;
    border-left: 1px solid #ddd;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(233, 233, 233);
}

.comment .name {
    margin-bottom: 8px;
}

header .email,
.comment .name .email {
    text-transform: lowercase;
    font-size: 8px;
    margin-left: 4px;
    color: gray;
}

header .email {
    font-size: 12px;
}
